* {
  margin: 0px;
  padding: 0px;
}
.container {
  background-image: url(google-background.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.info {
  display: flex;
  font-size: 1.1rem;
  gap: 12px;
  justify-content: right;
  align-items: center;
  margin-right: 6px;
  border-bottom: 0px solid black;
}
.info p:hover {
  border-bottom: 2px solid black;
  cursor: pointer;
}
.info i:hover {
  opacity: 0.5;
}
.info img {
  border-radius: 50%;
  object-fit: contain;
}
.logo {
  font-size: 4vmax;
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  color: rgb(5, 60, 60);
}
.search {
  height: 10vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25vmax;
  margin-top: 5vmax;
}
.search input {
  height: 44px;
  width: 32vw;
  background-color: white;
  border-left: none;
  border-top: none;
  border-bottom: none;
  padding-left: 3px;
  font-size: 1.3vmax;
  border-right: none;
  font-family: "Open Sans", sans-serif;
}
.search #glass {
  height: 44px;
  background-color: #ffffff;
  width: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-right: none;
  color: #5f6368;
  cursor: pointer;
}
#mic {
  height: 44px;
  background-color: white;
  width: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  cursor: pointer;
}
.ext {
  height: 20vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-left: 23vmax;
}
.ext i {
  color: white;
  font-size: 2rem;
}
@media screen and (max-width: 600px) {
  .search {
    margin-left: 13vmax;
  }
  .search input {
    width: 70vw;
  }
  .search #glass {
    width: 6vw;
  }
  .search #mic {
    width: 6vw;
  }
  .ext {
    margin-left: 13vmax;
  }
}
